<!--フラッシュメッセージの記述-->
<div><%= flash[:notice] %></div>

<!--ログイン関係の記述-->
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-8">
      <div class="mx-auto">
    <h1>welcome to Bookers!!</h1>
    <p>In Bookers,</p>
    <p>you can share and exchange your opinions , inpressions , and emotions<br/>
       about various books!</p>

    <div><%= link_to "Log in", new_user_session_path %></div>
    <div><%= link_to "Sign up", new_user_registration_path %></div>
    </div>
   </div>
   <div class="col-lg-1"></div>
  </div>
</div>